
$base-bg: #444;
$hovered-bg: #555555;


.child-container{
    padding: 2px 30px 20px 30px;
    margin-top: 18px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: $base-bg;
    text-align: center;
}


p{
    margin-top: 6px;
    margin-bottom: 0px;
    background-color: $hovered-bg; 
}
